body {margin: 0;
  background-image: url(pictures/background2.jpg);
  text-align: left;
  font-size: 15px;
}

*
{
  margin: 0 auto 0 auto;
 text-align:left;
}

.topnav{
  background-color: #334;
  float: left;
  height: 50px;
  width: 1190px;
  overflow: hidden;
}

.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000026;
}

.topnav li {
    float: left;
}

.topnav li a {
  float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidenav{
  float: left;
  width: 200px;
  text-align: center;
  height: auto;
  min-height: 515px;
}

.sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b5cdd6;
    text-align: center;

}

.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

.sidenav li a:hover:not(.active) {
    background-color: #83c6d2;
    color: white;
}

.sidenav h1{
  width: 200px;
  color: black;
  font-size: 11px;
  text-align: center;
  background-color: #b5cdd6;
}

.content{
  float: center;
  min-height:515px;
  width: 1200px;
}

.content2{
  margin-left: 200px;
  margin-right: 500px;
  margin-top: 40px;
  background-color: #c0d6e4;
  padding-left:20px;
  padding-right:20px;
  padding-top: 30px;
  padding-bottom: 10px;
  float: center;
  min-height: 515px;
  width: 951px;
  
}

.header{
  color: #ffffff;
  text-align: left;
  height: 60px;
  width: 1200px;
}

.footer{
  width: inherit;
  height: auto;
  text-align: center;
  font-size: 11px;
  color: #ffffff;
  float: center;
  height: 50px;
  width: 1280px;
}

.lista{
  background-color: #ffffff
}